*{
    /* box-sizing: border-box; */
}

.CircleContainer{
    width: calc(41.667vw * 0.9);
    height: calc(41.667vw * 0.9);
    background-color: transparent;
    margin: 0 auto;
    position: relative;
    top:50%;
    transform: translateY(-50%);
    overflow: hidden;
}

#CircleOutDegree{
    position: absolute;
    color: white;
    display:none;
}

.CircleOut{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #62BBD3;
    position: relative;
    /* animation: CircleRotate 0s linear 0s infinite; */
    transform: rotate(0deg);
    transition: all 1s;
    transition-timing-function: ease-out;   
}
@keyframes CircleRotate{

    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.CirclSmalleBasic{
    width: 15%;
    line-height: calc(41.667vw * 0.15 * 0.9);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: calc(41.667vw * 0.15 * 0.9 *0.35);
    font-weight: bolder;
    background-color: #19657F;
    cursor: pointer;
    transition: transform 1s;
    
}

.CircleNorth{
    /* background-color: blue; */
    position: absolute;
    top: 7.5%;
    left: 50%;
}

.CircleNorthEast{
    /* background-color: lightblue; */
    position: absolute;
    top: 13.194%;
    left: 71.25%;
}

.CircleEastNorth{
    /* background-color: orange; */
    position: absolute;
    top: 28.75%;
    left: 86.806%;
}

.CircleEast{
    /* background-color: yellow; */
    position: absolute;
    top: 50%;
    left: 92.5%;
}

.CircleEastSouth{
    /* background-color: lightyellow; */
    position: absolute;
    top: 71.25%;
    left: 86.806%;
}

.CircleSouthEast{
    /* background-color: darkgreen; */
    position: absolute;
    top: 86.806%;
    left: 71.25%;
}

.CircleSouth{
    /* background-color: green; */
    position: absolute;
    top: 92.5%;
    left: 50%;  
}

.CircleSouthWest{
    /* background-color: lightgreen; */
    position: absolute;
    top: 86.806%;
    left: 28.75%;  
}

.CircleWestSouth{
    /* background-color: darkred; */
    position: absolute;
    top: 71.25%;
    left: 13.194%;  
}

.CircleWest{
    /* background-color: red; */
    position: absolute;
    top: 50%;
    left: 7.5%;  
}

.CircleWestNorth{
    /* background-color: pink; */
    position: absolute;
    top: 28.75%;
    left: 13.194%;  
}

.CircleNorthWest{
    /* background-color: darkblue; */
    position: absolute;
    top:  13.194%;
    left: 28.75%;  
}

.CircleIn{
    width:70%;
    height: 70%;
    border-radius: 50%;
    background-color:#19657F;
    position: absolute;
    top:  15%;
    left: 15%;      
}

.CircleTextContainer{
    width:50%;
    height: 50%;
    background-color: transparent;
    background-image: url('/01Materials/01zodiac/Leo.svg');
    position: absolute;
    top:25%;
    left:25%;
    text-align: justify;
    /* padding: 0.5vw; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center

}

.CircleTextContainerTop{
    height: 30%;
    width: 100%;;
    text-align: center;
    background-color: #62BBD3;
}
.ZodicName{
    line-height:calc(41.667vw *0.9  *0.5 *0.3 *0.6);
    font-size: calc(41.667vw *0.9  *0.5 *0.3 *0.6 *0.8);
    font-weight: bold;
}
.Week{
    line-height: calc(41.667vw *0.9  *0.5 *0.3 *0.4);
    font-size: calc(41.667vw *0.9  *0.5 *0.3 *0.4 *0.8);
    font-weight: bold;
}
.CircleTextContainerBottom{
    background-color:#29ABE2;
    height: 70%;
    width: 100%;
    padding: 5% 10%;
    text-align: justify;
}