/*DeskNavBar.js用*/
.HeavyTextShadow{
    text-shadow: 1px 1px 1px #1F0F08;
}
.Brightness{
    filter: brightness(150%);
}

/*ServiceSideBar.js用*/
.SideBarOut{
    align-self:flex-end;
    background-color: #CE600A;
    color:white;
}
.CircleBtnItemSelected{
    background-color: #CE600A;
    transform: scale(1.3);
}
.ChangeSideBarShadow{
    box-shadow:  1px 1px 5px 2px #1F0F08 ;
    
}
.ChangeBtnShadow{
    box-shadow:  0px 1px 5px 2px #1F0F08 ;
}
.ChangeRightBtnShadow{
    box-shadow:  0px -1px 5px 2px #1F0F08 ;
    
}

/*PhoneEffect.js用*/
.PhoneMenuContentPop{
    height: 20vw;
}
.PhoneMenuBtnDirection{
    transform: translateY(1.25vw) rotate(180deg);
    box-shadow:  0px -1px 5px 1px #1F0F08 ;
}
.PhoneSideBarChangeBackgroundColor{
    background-color: #942E01;
    color:white;
}
.PhoneMenuPop{
    min-height:100vh;
}

