.NavItem{
    box-shadow:  0 0 8px 5px #F9F0CD ;
    border-radius: 2px;
}
.Service{
    z-index: 100;
}
.Info{
    z-index: 110;
}
.Logo{
    z-index: 120;
}
.Team{
    z-index: 110;
}
.Contact{
    z-index: 100;
}

.ServiceSideBarItem{
    box-shadow:  1px 1px 3px 1px #1F0F08 ;
    border-radius: 2px;
}
.ServiceCircleBtnItem{
    box-shadow:  0px 1px 3px 1px #1F0F08 ;
}
.ServiceContentLeftBtn{
    box-shadow:  0px 1px 3px 1px #1F0F08 ;
}
.ServiceContentRightBtn{
    box-shadow:  0px -1px 3px 1px #1F0F08 ;
}
.ServiceContentCardsItem{
    box-shadow:  1px 1px 3px 1px #1F0F08 ;
    border-radius: 2px;
}

.InfoLeftLatest, .InfoLeftMid, .InfoLeftOld{
    box-shadow:  0 0 8px 3px #F9F0CD ;
    border-radius: 2px;
}
.CircleOut{
    box-shadow:  0 0 8px 3px #F9F0CD ;
}
.CirclSmalleBasic{
    box-shadow:  0px 0px 3px 1px #1F0F08
}
.CircleTextContainer{
    box-shadow:  0px 0px 3px 1px #1F0F08;
    border-radius: 2px;
}

.LeftPeople, .RightPeople{
    box-shadow:  0px 1px 3px 1px #1F0F08;
    border-radius: 2px;
}

.ContactContainer, .ContactFooterSiteMapItem{
    box-shadow:  0 0 8px 3px #F9F0CD ;
    border-radius: 2px;
}
.ContactInfo{
    box-shadow: 0 0 0 0 transparent;
}

/*Phone*/
@media screen and (max-width: 1199px){
    .PhoneDropBtn{
        box-shadow:  0px 1px 3px 1px #1F0F08 ;
    }
    .ContactContainer{
        box-shadow: 0 0 0 0 transparent;
    }
    .ContactInfo{
        box-shadow:  0 0 8px 3px #F9F0CD ;
        border-radius: 2px;
    }
    
}
