* {
    box-sizing: border-box;
    /* border: 1px dashed darkorchid; */
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "微軟正黑體";
    overflow-x: hidden;
    background: #02051680 url('../01Materials/01BG/BodyBG.jpg') repeat local center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

#NavBarLogo {
    background: transparent url('../01Materials/NavBarLogo.png') no-repeat local center;
    background-size: cover;
    height: 68px;
    width: 68px;
}

.NavBarBgC {
    background-color: #02051680;
}

.NavBarItem {
    text-decoration: underline;
}

#FooterLineLogo {
    background: white url('../01Materials/02Icons/line.svg') no-repeat local center;
    background-size: cover;
    height: 68px;
    width: 68px;
}

#FooterFBLogo {
    background: white url('../01Materials/02Icons/facebook-icon.svg') no-repeat local center;
    background-size: cover;
    height: 68px;
    width: 68px;
}

#FooterMapLogo {
    background: #D82627 url('../01Materials/02Icons/map-icon.svg') no-repeat local center;
    background-size: cover;
    height: 68px;
    width: 68px;
}

#FooterOpen {
    text-align: justify;
    text-justify: distribute;
    text-align-last: justify;
}

#FooterAdd {
    text-align: justify;
    text-justify: distribute;
    text-align-last: justify;
}


/*MainContentSlideArea*/

#MainContentSlideArea {
    overflow: hidden;
}


/* HomePage */

.HomePageDiv {
    background: #02051680 url('../01Materials/01BG/HomePageBG.jpg') no-repeat local center;
    background-size: cover;
    top: 0;
    left: 0%;
}

#InformationArea {
    top: 100px;
    right: 0px;
    height: auto;
}

#InformationGrayBG {
    background-color: #02051680;
    color: whitesmoke;
    height: auto;
}

#InformationItem1,
#InformationItem2,
#InformationItem3 {
    cursor: pointer;
    height: auto;
}

#InformationText1,
#InformationText2,
#InformationText3 {
    height: 0;
    overflow: hidden;
    cursor: text;
    text-align: justify;
    text-justify: distribute;
    text-align-last: left;
    text-indent: 2em
}


/* Menu */

.MenuDiv {
    background: #02051680 url('../01Materials/01BG/MenuBG.jpg') no-repeat local center;
    background-size: cover;
    top: 0;
    left: -1000%;
}


/*MenuButton*/

#MenuButtonAreaRow {
    top: 100px;
}

.MenuAreaButton {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

#MenuAreaButton1 {
    background: transparent url('../01Materials/04Menu/Btn1.png') no-repeat local center;
    background-size: cover;
}

#MenuAreaButton2 {
    background: transparent url('../01Materials/04Menu/Btn2.png') no-repeat local center;
    background-size: cover;
}

#MenuAreaButton3 {
    background: transparent url('../01Materials/04Menu/Btn3.png') no-repeat local center;
    background-size: cover;
}

#MenuAreaButton4 {
    background: transparent url('../01Materials/04Menu/Btn4.png') no-repeat local center;
    background-size: cover;
}

.MenuContent {
    /* display: none !important; */
}


/* MenuSet */

#MenuSetContentRow {
    top: 200px;
    right: 0%;
    transition: all 0.5s;
}

#MenuSetContainer {
    height: 50vh;
    background-color: #02051680;
}

#SetArea {
    background: transparent url('../01Materials/03Set/DeskTopSetPic.png') no-repeat local center;
    background-size: contain;
}

#AddArea {
    background: transparent url('../01Materials/03Set/AddPrice.png') no-repeat local top;
    background-size: 78%;
}


/* MenuSoup */

#MenuSoupContentRow {
    top: 200px;
    right: 1000%;
    transition: all 0.5s;
}

#MenuSoupContainer {
    height: 50vh;
    background-color: #02051680;
}

#SoupPicArea {
    background: transparent url('../01Materials/05Soup/SoupPic.png') no-repeat local center;
    background-size: contain;
}

#SoupTextArea {
    background: transparent url('../01Materials/05Soup/SoupText.png') no-repeat local center;
    background-size: contain;
}


/* MenuDry */

#MenuDryContentRow {
    top: 200px;
    right: 1000%;
    transition: all 0.5s;
}

#MenuDryContainer {
    height: 50vh;
    background-color: #02051680;
}

#DryPicArea {
    background: transparent url('../01Materials/06Dry/DryPic.png') no-repeat local center;
    background-size: contain;
}

#DryTextArea {
    background: transparent url('../01Materials/06Dry/DryText.png') no-repeat local center;
    background-size: contain;
}


/* MenuLimit */

#MenuLimitContentRow {
    top: 200px;
    right: 1000%;
    transition: all 0.5s;
}

#MenuLimitContainer {
    height: 50vh;
    background-color: #02051680;
}

#MenuLimitRow1 {
    width: 100%;
    height: 25vh;
}

#MenuLimitRow2 {
    width: 100%;
    height: 25vh;
}

#MenuLimitRow1Pic {
    background: transparent url('../01Materials/08Limit/Veg.png') no-repeat local center;
    background-size: contain;
}

#MenuLimitRow1Text {
    color: whitesmoke;
    text-align: justify;
    text-justify: distribute;
    text-align-last: left;
    text-indent: 2em;
}

#MenuLimitRow2Pic {
    background: transparent url('../01Materials/08Limit/SourDrink.png') no-repeat local center;
    background-size: contain;
}

#MenuLimitRow2Text {
    color: whitesmoke;
    text-align: justify;
    text-justify: distribute;
    text-align-last: left;
    text-indent: 2em
}


/* StoryDiv */

.StoryDiv {
    background: #02051680 url('../01Materials/01BG/StoryBG.jpg') no-repeat local center;
    background-size: cover;
    top: 0;
    left: -1000%;
}

#OffsetRow {
    width: 100%;
    height: 100px;
}

#StoryContentRow1 {
    width: 100%;
    height: 40vh;
}

#StoryPic {
    height: 100%;
    background: #02051680 url('../01Materials/07Story/Boss.jpg') no-repeat local center;
    background-size: cover;
}

#StoryText {
    height: 100%;
    background: #02051680;
    color: whitesmoke;
    text-align: justify;
    text-justify: distribute;
    text-align-last: left;
    text-indent: 2em
}

#StoryContentRow2 {
    width: 100%;
    height: 12.5vh;
}

#StorySlogan {
    background: #02051680;
    height: 100%;
    color: whitesmoke;
    text-align: center;
    text-justify: inter-word;
    text-align-last: center;
}


/* Materials */

.MaterialsDiv {
    background: #000000CC url('../01Materials/01BG/MaterialsBG.jpg') no-repeat local center;
    background-size: cover;
    top: 0;
    left: -1000%;
}

#MaterialsButtonAreaRow {
    top: 100px;
}

.MaterialsAreaButton {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

#MaterialsAreaButton1 {
    background: transparent url('../01Materials/09Material/MSoup.png') no-repeat local center;
    background-size: cover;
}

#MaterialsAreaButton2 {
    background: transparent url('../01Materials/09Material/MMen.png') no-repeat local center;
    background-size: cover;
}

#MaterialsAreaButton3 {
    background: transparent url('../01Materials/09Material/MGoods.png') no-repeat local center;
    background-size: cover;
}

.MaterialsContent {
    /* display: none !important; */
}


/*SoupMaterials*/

#MaterialsSoupContentRow {
    top: 200px;
    Right: 0%;
    transition: all 0.5s;
}

#MaterialsSoupContainer {
    height: 50vh;
    background: transparent url('../01Materials/09Material/SoupBG.jpg') no-repeat local bottom;
    background-size: cover;
}

#MaterialsSoupText {
    background: #02051680;
    color: whitesmoke;
    text-align: justify;
    text-justify: distribute;
    text-align-last: left;
    text-indent: 2em;
}


/* MaterialsMen */

#MaterialsMenContentRow {
    top: 200px;
    Right: 1000%;
    transition: all 0.5s;
}

#MaterialsMenContainer {
    background: #02051680;
    height: 50vh;
}

#RamenArea {
    height: 25vh;
}

#RamenPic {
    height: 100%;
    background: transparent url('../01Materials/09Material/YellowMen.png') no-repeat local bottom;
    background-size: cover;
}

#RamenText {
    color: whitesmoke;
    text-align: justify;
    text-justify: distribute;
    text-align-last: left;
    text-indent: 2em;
}

#YellowmenArea {
    height: 25vh;
}

#YellowmenPic {
    height: 100%;
    background: transparent url('../01Materials/09Material/Ramen.png') no-repeat local bottom;
    background-size: cover;
}

#YellowmenText {
    color: whitesmoke;
    text-align: justify;
    text-justify: distribute;
    text-align-last: left;
    text-indent: 2em;
}


/* MaterialsGoods */

#MaterialsGoodsContentRow {
    top: 200px;
    Right: 1000%;
    transition: all 0.5s;
}

#MaterialsGoodsContainer {
    background: #02051680 url('../01Materials/09Material/Goods.png') no-repeat local bottom;
    background-size: contain;
    height: 50vh;
}