    @media screen and (max-width: 991px) {
        html {
            font-size: 90%;
        }
        body {
            margin: 0;
            padding: 0;
            width: 100vw;
            height: 100vh;
            font-family: "微軟正黑體";
            font-size: 90%;
            overflow-x: hidden;
            overflow-y: hidden;
        }
        /* NavBar */
        #NavBarLogo {
            background: transparent url('../01Materials/NavBarLogo.png') no-repeat local center;
            background-size: cover;
            height: 12.5vw;
            width: 12.5vw;
        }
        /* Footer */
        #FooterLineLogo {
            background: white url('../01Materials/02Icons/line.svg') no-repeat local center;
            background-size: cover;
            height: 12.5vw;
            width: 12.5vw;
        }
        #FooterFBLogo {
            background: white url('../01Materials/02Icons/facebook-icon.svg') no-repeat local center;
            background-size: cover;
            height: 12.5vw;
            width: 12.5vw;
        }
        #FooterMapLogo {
            background: #D82627 url('../01Materials/02Icons/map-icon.svg') no-repeat local center;
            background-size: cover;
            height: 12.5vw;
            width: 12.5vw;
        }
        #InformationArea {
            top: calc(12.5vw + 24px);
            right: 0px;
            height: auto;
        }
        /*MenuButton*/
        #MenuButtonAreaRow {
            top: calc(12.5vw + 24px);
        }
        .MenuAreaButton {
            height: 20vw;
            width: 20vw;
            border-radius: 50%;
        }
        .PhoneSeparateBar {
            height: 3vh;
            background: transparent url('../01Materials/03Set/Phone/PhoneSeparate.png') no-repeat local center;
            background-size: cover;
        }
        /*MenuSet*/
        #MenuSetContentRow {
            top: calc(32.5vw + 48px);
        }
        #MenuSetContainer {
            overflow-x: hidden;
            overflow-y: scroll;
            height: 55vh;
        }
        #PhoneSetArea {
            background-image: none;
        }
        #PhoneSetAPic {
            height: 50vh;
            background: transparent url('../01Materials/03Set/Phone/SetA.svg') no-repeat local center;
            background-size: contain;
        }
        #PhoneSetBPic {
            height: 50vh;
            background: transparent url('../01Materials/03Set/Phone/SetB.svg') no-repeat local center;
            background-size: contain;
        }
        #PhoneSetCPic {
            height: 50vh;
            background: transparent url('../01Materials/03Set/Phone/SetC.svg') no-repeat local center;
            background-size: contain;
        }
        #PhoneSetDPic {
            height: 50vh;
            background: transparent url('../01Materials/03Set/Phone/SetD.svg') no-repeat local center;
            background-size: contain;
        }
        #PhoneSetAddTitle {
            height: 4vh;
            background: transparent url('../01Materials/03Set/Phone/PhoneSetAddTitle.png') no-repeat local center;
            background-size: cover;
        }
        #PhoneSetAddTen {
            height: 50vh;
            background: transparent url('../01Materials/03Set/Phone/PhoneSetAddTen.png') no-repeat local center;
            background-size: contain;
        }
        #PhoneSetAddTwenty {
            height: 50vh;
            background: transparent url('../01Materials/03Set/Phone/PhoneSetAddTwenty.png') no-repeat local center;
            background-size: contain;
        }
        /* MenuSoup */
        #MenuSoupContentRow {
            top: calc(32.5vw + 48px);
        }
        #MenuSoupContainer {
            overflow-x: hidden;
            overflow-y: scroll;
            height: 55vh;
        }
        #SoupPicArea {
            height: 50vh;
        
        }
        #SoupTextArea {
            height: 50vh;
            background-size: contain;
        }
        /*MenuDry*/
        #MenuDryContentRow {
            top: calc(32.5vw + 48px);
        }
        #MenuDryContainer {
            overflow-x: hidden;
            overflow-y: scroll;
            height: 55vh;
        }
        #DryPicArea {
            height: 50vh;
        }
        #DryTextArea {
            height: 50vh;
        }
        /* MenuLimit */
        #MenuLimitContentRow {
            top: calc(32.5vw + 48px);
        }
        #MenuLimitContainer {
            overflow-x: hidden;
            overflow-y: scroll;
            height: 55vh;
        }
        #MenuLimitRow1 {
            height: auto;
        }
        #MenuLimitRow2 {
            height: auto;
        }
        #MenuLimitRow1Pic {
            height: 50vh;
        }
        #MenuLimitRow2Pic {
            height: 50vh;
        }
        #MenuLimitRow1Text {
            text-indent: 4em;
        }
        #MenuLimitRow2Text {
            text-indent: 4em
        }
        /*StoryDiv*/

        #StoryContainer {
            overflow-x: hidden;
            overflow-y: scroll;
            top: 12.5vh;
        }
        #OffsetRow {
            width: 100%;
            height: 0px;
        }
        #StoryContentRow1 {
            width: 100%;
            height: auto;
        }
        #StoryPic {
            height: 50vh;
            background-size: contain;
            /* background-attachment: fixed; */
        }
        #StoryText {
            text-indent: 4em
        }
        #StoryContentRow2 {
            width: 100%;
            height: auto;
        }
        #StorySlogan {
            background: #02051680;
            height: 100%;
            color: whitesmoke;
            text-align: center;
            text-justify: inter-word;
            text-align-last: left;
            text-indent: 2em
        }
        /*Materials*/
        #MaterialsButtonAreaRow {
            top: calc(12.5vw + 24px);
        }
        .MaterialsAreaButton {
            height: 20vw;
            width: 20vw;
            border-radius: 50%;
        }
        /*MateriaslSoup*/
        #MaterialsSoupContentRow {
            top: calc(32.5vw + 48px);
        }
        #MaterialsSoupContainer {
            overflow-x: hidden;
            overflow-y: scroll;
            height: 55vh;
        }
        #MaterialsSoupText {
            text-indent: 4em;
        }
        /*Materiasmen*/
        #MaterialsMenContentRow {
            top: calc(32.5vw + 48px);
        }
        #MaterialsMenContainer {
            overflow-x: hidden;
            overflow-y: scroll;
            height: 55vh;
        }
        #RamenArea {
            height: 70vh;
        }
        #RamenPic {
            height: 50%
        }
        #RamenText {
            height: 50%;
            text-indent: 4em;
        }
        #YellowmenArea {
            height: 70vh;
        }
        #YellowmenPic {
            height: 50%
        }
        #YellowmenText {
            height: 50%;
            text-indent: 4em;
        }
        /*MaterialsGoods*/
        #MaterialsGoodsContentRow {
            top: calc(32.5vw + 48px);
        }
        #MaterialsGoodsContainer {
            overflow-x: hidden;
            overflow-y: scroll;
            height: 55vh;
            background-position: center;
        }
    }

    @media screen and (max-width: 767px) {
        html {
            font-size: 75%
        }
        body {
            font-size: 75%
        }
    }