@media screen and (max-width: 767px) {
    html {
        font-size: 75%;
    }
    body {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        font-family: "微軟正黑體";
        overflow-x: hidden;
        overflow-y: hidden;
    }
    #NavBarLogo {
        background: transparent url('../01Materials/NavBarLogo.png') no-repeat local center;
        background-size: cover;
        height: 12.5vw;
        width: 12.5vw;
    }
    #FooterLineLogo {
        background: white url('../01Materials/02Icons/line.svg') no-repeat local center;
        background-size: cover;
        height: 12.5vw;
        width: 12.5vw;
    }
    #FooterFBLogo {
        background: white url('../01Materials/02Icons/facebook-icon.svg') no-repeat local center;
        background-size: cover;
        height: 12.5vw;
        width: 12.5vw;
    }
    #FooterMapLogo {
        background: #D82627 url('../01Materials/02Icons/map-icon.svg') no-repeat local center;
        background-size: cover;
        height: 12.5vw;
        width: 12.5vw;
    }
    #InformationArea {
        top: calc(12.5vw + 24px);
        right: 0px;
        height: auto;
    }
}