@media screen and (max-width: 767px) {
    html {
        font-size: 75%;
    }
    body {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        font-family: "微軟正黑體";
        font-size: 75%;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    /* NavBar */
    #NavBarLogo {
        background: transparent url('../01Materials/NavBarLogo.png') no-repeat local center;
        background-size: cover;
        height: 12.5vw;
        width: 12.5vw;
    }
    /* Footer */
    #FooterLineLogo {
        background: white url('../01Materials/02Icons/line.svg') no-repeat local center;
        background-size: cover;
        height: 12.5vw;
        width: 12.5vw;
    }
    #FooterFBLogo {
        background: white url('../01Materials/02Icons/facebook-icon.svg') no-repeat local center;
        background-size: cover;
        height: 12.5vw;
        width: 12.5vw;
    }
    #FooterMapLogo {
        background: #D82627 url('../01Materials/02Icons/map-icon.svg') no-repeat local center;
        background-size: cover;
        height: 12.5vw;
        width: 12.5vw;
    }
    #InformationArea {
        top: calc(12.5vw + 24px);
        right: 0px;
        height: auto;
    }
    /*MenuButton*/
    #MenuButtonAreaRow {
        top: calc(12.5vw + 24px);
    }
    .MenuAreaButton {
        height: 20vw;
        width: 20vw;
        border-radius: 50%;
    }
    /*MenuSet*/
    #MenuSetContentRow {
        top: calc(32.5vw + 48px);
    }
    #MenuSetContainer {
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .PhoneSeparateBar {
        height: 3vh;
        background: transparent url('../01Materials/03Set/Phone/PhoneSeparate.png') no-repeat local center;
        background-size: cover;
    }
    #PhoneSetArea {
        background-image: none;
    }
    #PhoneSetAPic {
        height: 50vh;
        background: transparent url('../01Materials/03Set/Phone/SetA.svg') no-repeat local center;
        background-size: contain;
    }
    #PhoneSetBPic {
        height: 50vh;
        background: transparent url('../01Materials/03Set/Phone/SetB.svg') no-repeat local center;
        background-size: contain;
    }
    #PhoneSetCPic {
        height: 50vh;
        background: transparent url('../01Materials/03Set/Phone/SetC.svg') no-repeat local center;
        background-size: contain;
    }
    #PhoneSetDPic {
        height: 50vh;
        background: transparent url('../01Materials/03Set/Phone/SetD.svg') no-repeat local center;
        background-size: contain;
    }
    #PhoneSetAddTitle {
        height: 4vh;
        background: transparent url('../01Materials/03Set/Phone/PhoneSetAddTitle.png') no-repeat local center;
        background-size: cover;
    }
    #PhoneSetAddTen {
        height: 50vh;
        background: transparent url('../01Materials/03Set/Phone/PhoneSetAddTen.png') no-repeat local center;
        background-size: contain;
    }
    #PhoneSetAddTwenty {
        height: 50vh;
        background: transparent url('../01Materials/03Set/Phone/PhoneSetAddTwenty.png') no-repeat local center;
        background-size: contain;
    }
}