.MenuAreaButton {
    box-shadow: 0px 1px 5px 3px #02051680;
}

.MaterialsAreaButton {
    box-shadow: 0px 1px 5px 3px #02051680;
}

.BorderRadius2px {
    border-radius: 2px;
}

.BorderRadius2pxForInformationBG {
    border-radius: 0 0 2px 2px;
}

.BorderRadius2pxForStory1 {
    border-radius: 2px 0px 0px 2px;
}

.BorderRadius2pxForStory2 {
    border-radius: 0px 2px 2px 0px;
}


/*BasicEF.js用到*/

.SelectedButton {
    filter: brightness(140%);
}

.HoverButton {
    box-shadow: 0px 1px 5px 5px #02051680;
}