#ListArea{
    display: flex;
    flex-direction:column;
    /*background-color: #FFFFE0CC ; lightYellow + alpha 0.8*/
    position: fixed;
    top: 0;
    background-color: transparent;
    box-sizing: border-box;
}

#ListArea > div{
    width: 100vw;
    box-sizing: border-box;
}

#ListAreaControl{
    height: 10vw;
    /*border: 3px solid red;*/
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#ListAreaControlUI{
    width:10vw;
    height:10vw;
    /*border: 3px solid green;*/
    box-sizing: border-box;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#ListAreaControlUI > p{
    font-size: calc(10vw *0.7);
}

#ListAreaContainer{
    height: calc(100vh - 10vw);
    /*border: 3px solid blue;*/
    box-sizing: border-box;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.ListAreaItem{
    width:35vw;
    height: 35vw;
    border: 3px solid #FFFFE0CC;
    box-sizing: border-box;
    margin: 5vw;
    border-radius: 5%;
    background-image: radial-gradient(circle, white, black);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ListAreaItem > p{
    font-size: calc(10vw *0.7);
    color:lightyellow;
    text-shadow: 3px 3px gray;
}

#MyCanvas{
    width: 100vw;
    height: 100vh;
    /*border: 3px solid pink;*/
    box-sizing: border-box;
    background: url("../img/basicmode.jpg") no-repeat fixed center center;
    background-size: 100% 100%;
}