#ListArea{
    display: flex;
    flex-direction:column;
    background-color: rgba(255, 255, 224, 0.8);
    position: fixed;
    top: 0;
    background-color: transparent;
}

#ListArea > div{
    width: 100vw;
}

#ListAreaControl{
    height: 10vw;
    border: 3px solid red;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#ListAreaControlUI{
    width:10vw;
    height:10vw;
    border: 3px solid green;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#ListAreaControlUI > p{
    font-size: calc(10vw *0.7);
}

#ListAreaContainer{
    height: calc(100vh - 10vw);
    border: 3px solid blue;
    display: none;
    /*display: flex;*/
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.ListAreaItem{
    width:35vw;
    height: 35vw;
    border: 3px solid green;
    margin: 5vw;
    border-radius: 5%;
}

#MyCanvas{
    width: 100vw;
    height: 100vh;
    background-image: url("/img/basicmode.jpg");
}